body{
  background-color: var(--off-white);
  color:var(--not-black);
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin:0;
}
